*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: url(https://source.unsplash.com/1600x900/?landscape);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container{
    padding: 20px;
    background-color: #000000;
    opacity: 0.8;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
}

button{
    padding: 20px;
    font-size: 50px;
    cursor: pointer;
    border: none;
    border-radius: 10px;
    transition: opacity 0.5s ease-in-out;
}

.buttons{
    margin: 30px 0;
    display: flex;
    gap: 5vw;
}
button:hover{
    opacity: 0.7;

}
#rock{
    background-color: #ce54d7;
    border-radius: 100%;

}

#paper{
    background-color: #8cff82;
    border-radius: 100%;
}


#scissors{
    background-color: #7ed6ff;
    border-radius: 100%;
}
.scissors{
    width: 103.64px;
}

h1{
    color: #fff;
}

p{
    font-weight: bold;
    margin-bottom: 10px;
    color: #fff;
}

.your-score span{
    color: #548dd7;
}
.machine-score span{
    color: #831925;
}

.result {
    margin-top: 20px;
    font-size: 24px;
    font-weight: bold;
    color: yellow; /* cor padrão e empate */
}
 

.result.green {
    color: green; /* cor para ganhou */
}

.result.red {
    color: red; /* cor para derrota */
}

@media (max-width:500px) {
    body{
        width: calc(100% - 40px); /* 100% menos 40px (20px de cada lado) */
        margin: 0 auto; /* Centralizando o body */
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0 10%;
    }

    .buttons{
        flex-direction: row;  /* Alterando a direção dos botões para uma linha */
        gap: 3vw; /* Adicionando espaçamento entre os botões */
    }

}

@media (max-width: 400px) {
    body {
        width: calc(100% - 40px); /* 100% menos 40px (20px de cada lado) */
        margin: 0 auto; 
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0 10px; /* Adicionando um padding de 10px nas laterais */
    }

    .buttons {
        gap: 2vw; /* Adicionando espaçamento entre os botões */
    }
}
